---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'LiQuid Dreams',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get tickets',
        href: '/events/liquid-dreams-volume-3#ticket',
        icon: 'tabler:ticket',
      },
      { text: 'Lineup', href: '/events/liquid-dreams-volume-3#lineup' },
    ]}
    image={{ src: '~/assets/images/Logo_LiquidDreams_ringOnly_compressed.png', alt: 'LiQuid Dreams' }}
  >
    <Fragment slot="title">
      LiQuid Dreams
      <span class="text-accent dark:text-white highlight"> VOLUME 3</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span>Saturday, September 14, 2024</span>
      <br />
      <a
        href="https://maps.app.goo.gl/KdJo2C2r1Q3bkaxr5"
        target="_blank"
        rel="noopener noreferrer"
        style="text-decoration: none;"
        onmouseover="this.style.textDecoration='underline'"
        onmouseout="this.style.textDecoration='none'"
      >
        <Icon name="tabler:map-pin-up" class="inline-flex items-center dark:text-slate-300 mb-1" />
        Gallery Art Bar
      </a>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="mission"
    tagline="Our Mission"
    title='" A space for deep connection and self-expression through underground music. "'
    subtitle="Combining music, movement and fashion, we craft a dancefloor with unique sounds, hypnotic visuals, and a vibe that’s unmistakably raw, bringing together an eclectic mix of emerging DJs and VJs from around the world."
  />

  <div id="videos" class="daisy-carousel w-full space-x-4">
    <div id="slide1" class="daisy-carousel-item">
      <iframe
        width="516"
        height="320"
        src="https://www.youtube.com/embed/vOT27Dh7BAc?si=H2FQ-5zGE6jpeD5W"
        title="Howz's set @ LiQuid Dreams: Volume 2"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>

    <div id="slide2" class="daisy-carousel-item">
      <iframe
        width="516"
        height="320"
        src="https://www.youtube.com/embed/XPwPRkEG3LE?si=p6OOniCFFpKJix3z"
        title="TUKUPI's set @ LiQuid Dreams: Volume 2"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>

    <div id="slide3" class="daisy-carousel-item">
      <iframe
        width="516"
        height="320"
        src="https://www.youtube.com/embed/6WDhAKmXA_4?si=qXHB7dQrug0Z0q38"
        title="Santa Cecilia's set @ LiQuid Dreams: Volume 2"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>

    <div id="slide4" class="daisy-carousel-item">
      <iframe
        width='516"'
        height='320"'
        src="https://www.youtube.com/embed/7kE6QKJvVCo?si=RkwtyR3DaDHRxaBd"
        title="Rodrigo Cardenas's set @ LiQuid Dreams: Volume 2"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="history"
    tagline="History"
    title="EST. 2023"
    items={[
      {
        title: 'House',
        icon: 'tabler:heart',
        description: 'Deep • Minimal • Afro',
      },
      {
        title: 'Techno',
        icon: 'tabler:heart',
        description: 'Acid • Raw • Hypnotic',
      },
      {
        title: 'Global',
        icon: 'tabler:heart',
        description: 'Garage • Baile Funk • Baltimore Club',
      },
    ]}
    image={{
      src: '~/assets/images/Poster_LiquidDreams_Volume.3_Square.jpg',
      alt: 'LiQuid Dreams - VOLUME 3',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-[#dcff88] sm:text-3xl mb-2">Fusion of Global Sounds</h3>
      LiQuid Dreams quickly became a pulse in the Urbana-Champaign electronic music scene. With two editions in May and December,
      we've already brought together a diverse lineup of House, UK Garage, Techno, and Jazz artists representing seven countries,
      making each event a unique fusion of global sounds.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
