---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';
import { Icon } from 'astro-icon/components';
import Features from '~/components/widgets/Features.astro';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'LiQuid Dreams VOLUME 3',
};
---

<Layout metadata={metadata}>
  <!-- Alpha Version: Calendar Modal * -->

  <dialog id="calendarModal" class="daisy-modal daisy-modal-bottom sm:daisy-modal-middle">
    <div class="daisy-modal-box">
      <h3 class="text-lg font-bold">Add the event to your calendar</h3>
      <div class="flex gap-3 mt-10">
        <Button href="/ics/event_liquid-dreams-volume-3.ics">Apple Calendar</Button>
        <Button
          href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20240915T010000Z%2F20240915T070000Z&details=LiQuid%20Dreams%20VOLUME%203%0A%0ADate%3A%20%20Sat%2C%20September%2014%2C%202024%0ATime%3A%20%2008%3A00%20PM%20-%2002%3A00%20AM%0ALocation%3A%20%20Gallery%20Art%20Bar%0A%0A___%0A%0A%0AEvent%20Schedule%3A%0A20%3A00%20-%2021%3A00%20%7C%20Norman%20Hernandez%0A%E2%80%A2%20House%20music%20through%20the%20Black%20diaspora%20-%20Jazz%2C%20Jungle%2C%20Afrobeat%2C%20and%20Dub%20flavors.%0A%0A21%3A00%20-%2022%3A00%20%7C%20Santa%20Cecilia%0A%E2%80%A2%20Ignite%20our%20dreams%20with%20House%20rhythms%20into%20the%20night%20of%20sonic%20exploration.%0A%0A22%3A00%20-%2023%3A00%20%7C%20Howz%0A%E2%80%A2%20A%20sonic%20tapestry%20of%20breakbeat%2C%20jungle%2C%20and%20club%20sounds%2C%20weaving%20a%20tapestry%20of%20infectious%20grooves.%0A%0A23%3A00%20-%2000%3A00%20%7C%20TUKUPI%0A%E2%80%A2%20Soulful%20House%20melodies%20to%20transcend%20you%20through%20the%20twilight%20hours.%0A%0A00%3A00%20-%2001%3A00%20%7C%200x01000111%0A%E2%80%A2%20Raw%20hypnotic%2C%20driving%20Techno%20to%20plunge%20you%20into%20a%20trance%20state%20during%20the%20darkest%20hours.%0A%0A01%3A00%20-%2002%3A00%20%7C%20Rafael%20Manuel%0A%E2%80%A2%20Uplifting%20House%20rhythms%20to%20descend%20you%20into%20our%20final%20dreams.%0A%0A___%0A%0AWebsite%3A%20LiQuid%20Dreams%0Ahttps%3A%2F%2Fliquiddreams.vercel.app%2Fevents%2Fliquid-dreams-volume-3%0A%0AInstagram%3A%20%40LiQuidDreams.Event%0Ahttps%3A%2F%2Finstagram.com%2Fliquiddreams.event%0A%0ATicket%3A%20Posh%0Ahttps%3A%2F%2Fposh.vip%2Fe%2Fliquid-dreams&location=Gallery%20Art%20Bar%2C%20119%20W%20Main%20St%2C%20Urbana%2C%20IL%2061801&text=LiQuid%20Dreams%20VOLUME%203"
          target="_blank"
        >
          Google Calendar
        </Button>
        <Button
          href="https://outlook.live.com/calendar/0/action/compose?allday=false&body=LiQuid%20Dreams%20VOLUME%203%0A%0ADate%3A%20%20Sat%2C%20September%2014%2C%202024%0ATime%3A%20%2008%3A00%20PM%20-%2002%3A00%20AM%0ALocation%3A%20%20Gallery%20Art%20Bar%0A%0A___%0A%0AEvent%20Schedule%3A%0A%0A20%3A00%20-%2021%3A00%20%7C%20Norman%20Hernandez%0A%E2%80%A2%20House%20music%20through%20the%20Black%20diaspora%20-%20Jazz%2C%20Jungle%2C%20Afrobeat%2C%20and%20Dub%20flavors.%0A%0A21%3A00%20-%2022%3A00%20%7C%20Santa%20Cecilia%0A%E2%80%A2%20Ignite%20our%20dreams%20with%20House%20rhythms%20into%20the%20night%20of%20sonic%20exploration.%0A%0A22%3A00%20-%2023%3A00%20%7C%20Howz%0A%E2%80%A2%20A%20sonic%20tapestry%20of%20breakbeat%2C%20jungle%2C%20and%20club%20sounds%2C%20weaving%20a%20tapestry%20of%20infectious%20grooves.%0A%0A23%3A00%20-%2000%3A00%20%7C%20TUKUPI%0A%E2%80%A2%20Soulful%20House%20melodies%20to%20transcend%20you%20through%20the%20twilight%20hours.%0A%0A00%3A00%20-%2001%3A00%20%7C%200x01000111%0A%E2%80%A2%20Raw%20hypnotic%2C%20driving%20Techno%20to%20plunge%20you%20into%20a%20trance%20state%20during%20the%20darkest%20hours.%0A%0A01%3A00%20-%2002%3A00%20%7C%20Rafael%20Manuel%0A%E2%80%A2%20Uplifting%20House%20rhythms%20to%20descend%20you%20into%20our%20final%20dreams.%0A%0A___%0A%0AWebsite%3A%20LiQuid%20Dreams%0Ahttps%3A%2F%2Fliquiddreams.vercel.app%2Fevents%2Fliquid-dreams-volume-3%0A%0AInstagram%3A%20%40LiQuidDreams.Event%0Ahttps%3A%2F%2Finstagram.com%2Fliquiddreams.event%0A%0ATicket%3A%20Posh%0Ahttps%3A%2F%2Fposh.vip%2Fe%2Fliquid-dreams&enddt=2024-09-15T02%3A00%3A00&location=Gallery%20Art%20Bar&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2024-09-14T20%3A00%3A00&subject=LiQuid%20Dreams%20VOLUME%203"
          target="_blank"
        >
          Outlook Calendar
        </Button>
      </div>
      <div class="daisy-modal-action">
        <form method="dialog">
          <button class="daisy-btn daisy-btn-sm daisy-btn-ghost absolute right-2 top-2">✕</button>
        </form>
      </div>
    </div>
  </dialog>

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get tickets',
        href: '#ticket',
        icon: 'tabler:ticket',
      },
      {
        text: 'Add to calendar',
        onclick: `calendarModal.showModal()`,
      },
    ]}
  >
    <Fragment slot="title">
      LiQuid Dreams
      <span class="text-accent dark:text-white highlight"> VOLUME 3</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span>Saturday, September 14, 2024</span>
      <br />
      <a
        href="https://maps.app.goo.gl/KdJo2C2r1Q3bkaxr5"
        target="_blank"
        rel="noopener noreferrer"
        style="text-decoration: none;"
        onmouseover="this.style.textDecoration='underline'"
        onmouseout="this.style.textDecoration='none'"
      >
        <Icon name="tabler:map-pin-up" class="inline-flex items-center dark:text-slate-300 mb-1" />
        Gallery Art Bar
      </a>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="lineup"
    tagline="Lineup"
    title="Event Schedule"
    items={[
      {
        title: '20:00 - 21:00 | <a href="/artist_normanhernandez" class="text-[#dcff88] hover:underline focus:underline">Norman Hernandez</a>',
        description: 'House music through the Black diaspora - Jazz, Jungle, Afrobeat, and Dub flavors.',
        icon: 'tabler:ball-bowling',
      },
      {
        title: '21:00 - 22:00 | <a href="/artist_santacecilia" class="text-[#dcff88] hover:underline focus:underline">Santa Cecilia</a>',
        description: 'Ignite our dreams with House rhythms into the night of sonic exploration.',
        icon: 'tabler:vinyl',
      },
      {
        title: '22:00 - 23:00 | <a href="/artist_howz" class="text-[#dcff88] hover:underline focus:underline">Howz</a>',
        description:
          'A sonic tapestry of Breakbeat, Jungle, and Club sounds, weaving a tapestry of infectious grooves.',
        icon: 'tabler:sun',
      },
      {
        title: '23:00 - 00:00 | <a href="/artist_tukupi" class="text-[#dcff88] hover:underline focus:underline">TUKUPI</a>',
        description: 'Soulful House melodies to transcend you through the twilight hours.',
        icon: 'tabler:moon-stars',
      },
      {
        title: '00:00 - 01:00 | <a href="/artist_0x01000111" class="text-[#dcff88] hover:underline focus:underline">0x01000111</a>',
        description: 'Raw hypnotic, driving Techno to plunge you into a trance state during the darkest hours.',
        icon: 'tabler:brand-planetscale',
      },
      {
        title: '01:00 - 02:00 | <a href="/artist_rafaelmanuel" class="text-[#dcff88] hover:underline focus:underline">Rafael Manuel</a>',
        description: 'Uplifting House rhythms to descend you into our final dreams.',
        icon: 'tabler:chart-pie',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="ticket"
    tagline="Get Tickets"
    title="TIER 1 Sold Out !"
    subtitle="Limited availability <br> Must be 18+ to enter <br><br> Tier 1: $10 <br> <span class='text-[#dcff88]'>Tier 2: $12</span> <br> Tier 3: $15"
    actions={[
      {
        variant: 'primary',
        text: 'Posh',
        href: 'https://posh.vip/e/liquid-dreams',
        target: '_blank',
        icon: 'tabler:ticket',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Payment Instructions"
    items={[
      {
        title: 'Step 1: Create Your Profile',
        description:
          'Create a profile on POSH and upload your photos. This allows you to interact with others attending the event and access exclusive content.',
        icon: 'tabler:square-rounded-letter-v',
      },
      {
        title: 'Step 2: Secure Your Ticket',
        description:
          'Purchase your general access ticket through the POSH platform. Tickets at the door will be limited, so guarantee yours early.',
        icon: 'tabler:file-text',
      },
      {
        title: 'Step 3: Confirmation',
        description: 'Once your payment is processed, you will receive a confirmation email with your ticket.',
        icon: 'tabler:ticket',
      },
      {
        title: 'Step 4: Get ready to dance!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://posh-images-originals-production.s3.amazonaws.com/66de70bc3ac0d17e5f1a5cb9',
      alt: "LiQuid Dreams Volume 3's flier",
    }}
  />
</Layout>
