---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';
import { Icon } from 'astro-icon/components';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'LiQuid Dreams VOLUME 3',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get tickets',
        href: '#ticket',
        target: '_blank',
        icon: 'tabler:ticket',
      },
      { text: 'Lineup', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/Logo_LiquidDreams_ringOnly_Green.png',
      alt: 'LiQuid Dreams',
    }}
  >
    <Fragment slot="title">
      LiQuid Dreams
      <span class="text-accent dark:text-[#dcff88] highlight"> VOLUME 3</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span>Saturday, September 14, 2024</span>
      <br />
      <a
        href="https://maps.app.goo.gl/KdJo2C2r1Q3bkaxr5"
        target="_blank"
        rel="noopener noreferrer"
        style="text-decoration: none;"
        onmouseover="this.style.textDecoration='underline'"
        onmouseout="this.style.textDecoration='none'"
      >
        <Icon name="tabler:map-pin-up" class="inline-flex items-center dark:text-slate-300 mb-1" />
        Gallery Art Bar
      </a>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <!-- <Features
    id="lineup"
    tagline="Lineup"
    title="Dream States"
    subtitle="Dream Weavers: A Sonic Journey Through the Night"
    items={[
      {
        title: '20:00 - 21:00 | Santa Cecilia',
        description: 'Ignite our dreams with House rhythms into the night of sonic exploration.',
        icon: 'tabler:vinyl',
      },
      {
        title: '21:00 - 22:00 | Norman Hernandez',
        description: 'House music through the Black diaspora - Jazz, Jungle, Afrobeat, and Dub flavors.',
        icon: 'tabler:ball-bowling',
      },
      {
        title: '22:00 - 23:00 | Howz',
        description:
          'A sonic tapestry of breakbeat, jungle, and club sounds, weaving a tapestry of infectious grooves.',
        icon: 'tabler:sun',
      },
      {
        title: '23:00 - 00:00 | TUKUPI',
        description: 'Soulful House melodies to transcend you through the twilight hours.',
        icon: 'tabler:moon-stars',
      },
      {
        title: '00:00 - 01:00 | 0x01000111',
        description: 'Raw hypnotic, driving Techno to plunge you into a trance state during the darkest hours.',
        icon: 'tabler:brand-planetscale',
      },
      {
        title: '01:00 - 02:00 | Rafael Manuel',
        description: 'Uplifting House rhythms to descend you into our final dreams.',
        icon: 'tabler:chart-pie',
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="ticket"
    tagline="Get Ticket"
    title="TIER 1 Pass is opening !"
    subtitle="Limited availability <br> Must be 19+ to enter <br><br> Tier 1: $10 <br> Tier 2: $12 <br> Tier 3: $15 <br> Doors: $15"
    actions={[
      {
        variant: 'primary',
        text: 'Venmo',
        href: 'https://venmo.com/liquiddreamscu',
        target: '_blank',
        icon: 'tabler:square-rounded-letter-v',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Payment Instructions"
    items={[
      {
        title: 'Step 1: Submit your payment through Venmo</span>',
        description: '@liquiddreamscu (4 digits verification code: 1795)',
        icon: 'tabler:square-rounded-letter-v',
      },
      {
        title: 'Step 2: Submit your information ',
        description:
          'In the “What is it for?” section, include the full name and email address of the attendee. One name allowed per transaction.',
        icon: 'tabler:file-text',
      },
      {
        title: 'Step 3: Confirmation',
        description:
          'After we receive your payment, you will get a confirmation email from us on Thursday, September 12th (09/12/2024) with the event details.',
        icon: 'tabler:ticket',
      },
      {
        title: 'Step 4: Get ready to dance!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/QR_LiquidDreams_VenmoQRC.jpg',
      alt: '@liquiddreamscu Venmo QR Code',
    }}
  />
</Layout>
